.country{
    padding: 10px 15px;
}

.head{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}
.flag{
    display: block;
    margin: auto;
    width: 240px;
    height: 140px;
    background-position: center;
    background-size: cover;
}
.flexEnd{
    justify-items: flex-end;
}