.center {
  text-align: center;
}
.btnCenter{
  display: block;
  margin: auto;
}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
  grid-gap: 1rem;
  justify-content: center;
  align-items: center
}

.flex{
  display: flex;
}
.flex--space{
  display: flex;
  justify-content: space-between;
}
.container{
  width: 90%;
  margin: auto;
}
.my-small{
  margin: 5px 0;
}

.mb-md{
  margin-bottom: 50px;
}